@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

body {
    width: 100%;
    height: 92.8vh;
    flex-grow: 1;
}

header {
    display: flex;
    background-color: #0d6efd;
    align-items: center;
    color: #FFF;
    position: absolute;
    width: 100%;
    padding: 10px 20px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: green;
    margin-top: 55px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 50%;
    flex-grow: 1;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: blue;
    margin-top: 100px;
}

input {
    width: 700px;
    height: 63px;
    border-radius: 10px;
    margin: 50px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    padding-left: 10px;
    border-color: #22459C;
}

button {
    background-color: #C4C4C4;
    border-radius: 15px;
    margin-top: 20px;
    padding: 5px 50px;
    color: #22459C;
}

button:hover {
    cursor: pointer;
}

.res {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 0;
    flex-grow: 1;
}

footer {
    display: flex;
    background-color: #0d6efd;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    bottom: 0;
}

.textoBranco {
    color: #FFF;
}